* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*--accent-color: rgb(233, 14, 149);*/
  --accent-color: rgb(77, 77, 235);
  --mobile-font-h2: 
}

body {
  background-color: #ededed;
  overflow-x: hidden;
}

#page-container {
    width: 100vw;
}

/***************
NAVAGATION
***************/
#nav-logo {
  padding-top: 17px;
  font-size: 2.3vw;
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--accent-color);
  text-decoration: none;
  font-style: italic;
  width: 9vw;
}

.header-nav-container {
  position: fixed;
  width: 100vw;
  height: 70px;
  background: #000;
  z-index: 3;
}

.header-nav-container nav {
  width: 90%;
  margin: 0 auto;
}

.header-nav-container,
nav,
ul {
  display: flex;
}

.header-nav-container nav ul {
  position: relative;
  left: 40%;
  transform: translateX(-40%);
  margin-top: 5px;
}

.header-nav-container nav ul li {
  list-style: none;
}

.header-nav-container nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
  font-size: 1.2vw;
  padding: 10px;
  color: #fff;
}

#login-form a {
  position: relative;
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5vw;
  transition: color 0.5s;
}

#login-form a:hover {
  color: var(--accent-color);
}

.btn {
  padding: 3px 5px 0px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
  height: 25px;
  background-color: var(--accent-color);
  color: #fff;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #fff;
  cursor: pointer;
  color: var(--accent-color);
}

#login-form input {
  padding: 3px;
  width: 30%;
}
#login-SignUp-Inputs {
  margin: 17px 40px;
}

#login-SignUp-Inputs form p {
  display: inline;
  font-size: 1.3vw;
  padding-top: 5px;
}

#login-SignUp-Inputs label {
  color: #fff;
  padding: 20px;
}

#logged-in-text {
  color: #fff;
}

/***************
HERO
***************/
.hero {
  background-color: #2a2a2a;
  width: 100vw;
}
#hero-img-text-container {
  margin-top: 70px;
}

.hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  width: 100vw;
  height: 101vh;
  margin-top: 12px;
}

.hero img {
  width: 100vw;
  height: 90vh;
  margin-top: 70px;
}

#bikes-hero-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#bikes-hero-text h2 {
  font-size: 3.5vw;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

#bikes-hero-text p {
  font-size: 2vw;
  font-style: italic;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

#bikes-hero-text a {
  position: relative;
  display: inline-block;
  left: 50%;
  text-decoration: none;
  transform:translateX(-50%);
  margin-top: .5rem;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 3px;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  transition: background-color .5s;
}

#bikes-hero-text a:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--accent-color);
}

/********************
Main Section
********************/

.main-section {
  /*position: relative;*/
  min-height: 1200px;
  margin-top: 15vh;
  padding-bottom: 20vh;
}

.bike-img-container {
    position: relative;
    text-align: center;
    width: 100%;
}

.addTo-cartBtn-Container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.btn-addToCart {
    border-radius: 3px;
}


.bike-img-container img {
  width: 280px;
  height: 175px;
}

.bike-row-container {
  display: grid;
  width: 86vw;
  max-width: 1500px;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 10% auto;
  grid-gap: 10px;
  grid-template-areas:
    "bike-row-header bike-row-header bike-row-header"
    "bike-img-container1 bike-img-container2 bike-img-container3"
    "bike-img-container4 bike-img-container5 bike-img-container6"
    "bike-img-container7 bike-img-container8 bike-img-container9";
}

.bike-row-header {
  grid-area: bike-row-header;
  text-align: center;
  margin-bottom: 20px;
}

.bike-row-header h2 {
  padding-bottom: .5rem;
}

.bike-row-container p {
  grid-area: bike-row-header-p-text;
  text-align: center;
  font-size: 18px;
  font: "Roboto, ariel, helvetica, sans-serif";
  color: #313131;
  line-height: 1.4;
}

.bike-img-container1 {
  grid-area: bike-img-container1;
}

.bike-img-container2 {
  grid-area: bike-img-container2;
}
.bike-img-container3 {
  grid-area: bike-img-container3;
}
.bike-img-container4 {
  grid-area: bike-img-container4;
}
.bike-img-container5 {
  grid-area: bike-img-container5;
}
.bike-img-container6 {
  grid-area: bike-img-container6;
}

.bike-img-container7 {
    grid-area: bike-img-container7;
  }

  .bike-img-container8 {
    grid-area: bike-img-container8;
  }

  .bike-img-container9 {
    grid-area: bike-img-container9;
  }

.bike-img-container {
  background-color: #fff;
  width: 100%;
  padding: 20px;
}

.bike-img-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.bike-img-container p {
  padding: 10px 0;
}

.bike-img-container h2 {
  padding-top: 20px;
}

.btn-addToCart:hover {
  background-color: #fff;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);

  cursor: pointer;
}

/******************
SIGNUP PAGE
******************/

.signup-section-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: auto;
  max-width: 600px;
  max-height: auto;
  margin: 0 auto;
  z-index: 2;
}

.signup-form-wrapper {
  height: 100%;
  width: 100%;
  color: #fff;
  border-radius: 3px;
  background-color: var(--accent-color);
  text-align: center;
}

.signup-form-wrapper h2 {
  padding: 10px;
  font-size: 2.5vw;
}

.signup-form-wrapper p {
  font-size: 1.3vw;
}

.signup-form-wrapper input {
  display: block;
  width: 90%;
  height: 90%;
  margin: 10px auto;
  padding: 10px;
}

.signup-form-wrapper button {
  width: auto;
  padding: 3px;
  font-size: 1.2vw;
  margin: 10px auto 20px auto;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  color: var(--accent-color);
  transition: background-color 0.5s;
}

.signup-form-wrapper button:hover {
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
}

/******************
CART SECTION
******************/

.cart-section {
    width: 80vw;
    max-width: 1170;
    height: auto;
    margin: 15vh auto ;
    padding: 5px;
    border-radius: 3px;
}

.cart-section-header {
    width: 100%;
    height: auto;
    border-bottom: 10px solid black;
    margin: 0 auto;
    padding-top: 5px;
    margin-top: 10vh;
    background: #fff;
    text-align: center;
}

.cart-items-header {
  display: flex;
  justify-content: space-around;
  padding: .5rem 0;
  color: #fff;
  background: var(--accent-color);
}
.cart-item-item {

}

.cart-row {
  display: flex;
}

.cart-price-container {
  margin-top: 2.5rem;
}

.cart-items {

}

.cart-item-image {

}

.cart-item-title {
  padding-left: 10%;
  margin-top: 2.5rem;
  width: 36%;
}

.cart-image-container {
  width: 100%;
}

  .cart-row:nth-child(odd) {
    background: lightgrey;
  }

  .cart-quantity {

  }

  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56ccf2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }

  .cart-quantity-container {
    padding-left: 30%;
    margin-top: 2.5rem;
  }

  .btn-danger-container {
    margin-top: 2.5rem;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    width: 20%;
    text-align: center;
    border-bottom: 5px solid black;
    background-color: #fff;
    position: relative;
    left: 34%;
    margin-top: 2.5rem;

  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
  
  .btn-purchase {
    display: block;
    border-radius: 3px;
    position: relative;
    left: 80%;
    margin-top: -1.5rem;
  }

  .btn-purchase button {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /********************************
  MEDIA QUERY 1023PX
  ********************************/

  @media (max-width: 1023px) {
    .bike-row-container {
      grid-template-columns: 45% 45%;
      grid-template-rows: 8% auto;
      grid-gap: 10px;
      grid-template-areas:
        "bike-row-header bike-row-header"
        "bike-img-container1 bike-img-container2"
        "bike-img-container3 bike-img-container4"
        "bike-img-container5 bike-img-container6"
        "bike-img-container7 bike-img-container8";
    }

    .cart-section-header {
      width: 90%;
    }

    .cart-items-header {
      width: 90%;
    }

    .cart-items {
      width: 90%;
    }

    .cart-item {
      padding-left: 1vw;
      /*width: 46%;*/
    }

    .btn-danger {
      position: relative;
      /*right: 15px;*/
    }

    .bike-img-container9 {
      display: none;
    }

    .cart-item-image {
      display: none;
    }

    .cart-item-title {
      position: relative;
      right: 20px;
     /* margin-left: 3vw;*/
    }

    .cart-items-header .cart-column {
      font-size: 1em;
    }

    .cart-total-title {
      font-size: 1em;
    }

    .cart-item-title {
      font-size: 1em;
    }

    .cart-price {
      font-size: 1em;
    }

    .cart-total {
      margin-left: 70%;
      text-align: center;
    }

    .cart-quantity-input {
      width: 40px;
      height: 30px;
    }

    .btn-purchase {
      font-size: 1.5em;
      height: 25px;
      padding: 0 5px;
    }

    .cart-mobile-image-display {
      position: relative;
      display: block;
      z-index: 99;
    }

    .cart-row {
      justify-content: space-around;
    }
  }

  /********************************
  MEDIA QUERY 715PX
  ********************************/

  @media (max-width: 715px) {
   
    .cart-total {
      margin-left: 63%;
      width: 25vw;
      text-align: center;
    }
  }

  
/******************
FOOTER
******************/
footer {
  position: relative;
  bottom: 0 !important;
  width: 100vw;
  height: 35vh;
  background: #2a2a2a;
}

footer h2 {
  position: relative;
  top: 4rem;
  text-align: center;
  color: #fff;
  width: 80vw;
  max-width: 1176px;
  margin: 0 auto;

}

footer h2 a {
  color: #fff;
}
